/* CONTENT */
body {
    background-color: #f6f7fb;
}
.main-content {
    padding: 20px;
    
}

#option_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
    border-radius: 12px;
}
.search_icon {
    width: 14px;
    height: 14px;
    transform: translateY(2px);
    filter: brightness(0) saturate(100%) invert(11%) sepia(96%) saturate(2234%) hue-rotate(344deg) brightness(91%) contrast(101%);
}
.search_input {
    outline: none;
    border: none;
    background-color: rgb(0, 0, 0, 0.01);
    width: 100%;
    
}
.search_container {
    padding: 8px;
    display: flex;
    width: 500px;

    background-color: rgb(0, 0, 0, 0.05);
    border-radius: 8px;

    gap: 8px;
    border: 1px solid goldenrod;
}
#filter, 
#report_bar {
    border-radius: 8px;
    padding: 10px 14px;

    font-size: 13px;
    border: none;
}
#filter {
    border: 1px solid goldenrod;;
    color: #800000;
    background: none;
}
#report_bar {
    text-decoration: none;
    text-align: center;
    background: linear-gradient(135deg, #800000, #4a0303);
    color: white;
    margin-left: 10px;
}
.filter_icon{
    width: 14px;
    height: 14px;

    filter: brightness(0) saturate(100%) invert(11%) sepia(96%) saturate(2234%) hue-rotate(344deg) brightness(91%) contrast(101%);
}
#filter {
    display: flex;
    gap: 8px;
}
#right_side {
    display: flex;
    
}

.items-container {
    display: flex;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.main-content h2 {
    color: #800000;
}   
.item-card {
    flex: 0 0 250px; 
    width: 250px; 
    overflow: hidden;
    
    display: flex;
    flex-direction: column;

    background: white;
    border-radius: 10px;
    border: 2px solid goldenrod;   
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.view_btn,
.claim_btn {
    text-align: center;
    text-decoration: none;

    margin-top: 10px;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
}

.view_btn {
    background: linear-gradient(135deg, #800000, #4a0303);
    border: none;
    color: white;
}
.claim_btn {
    border: 1px solid goldenrod;
    color: #800000;
}
.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-content,
#view_btn,
#claim_btn {
    margin-top: auto;
}
.card_details {
    display: flex;
    align-items: center;
    gap: 8px; /* space between icon and text */

    font-weight: 500;
    color: #515151;
    font-size: 14px;

    margin: 0;
}
.card-content p { 
    margin-bottom: 8px;
}
.card_icon {
    transform: translateY(2px);
    width: 14px;
    height: 14px;

    flex-shrink: 0;
    filter: brightness(0) saturate(100%) contrast(200%);
}
.text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.img_container {
    width: 100%;
    height: 160px;
    margin: 0;
}
.img_display {
    border-radius: 10px 10px 0 0 ;
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    display: block;
}
.item-name_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.item_name {
    color: #800000;
    font-size: 16px;
}
.status,
.claim_status {
    display: inline;
    padding: 10 16px;

    border-radius: 15px;
    border: none;
    
    font-size: 13px;
    font-weight: bold;
}
.status {
    background: #e3f2fd;
    color: #1565c0;
    white-space: nowrap;
}
.claim_status {
    background-color: #ffe0b2;;
    color: #e65100; 
    white-space: nowrap;
}
.description {
    margin: 0;
    font-weight: 500;
    color: #515151;
    padding-bottom: 8px;
}
.user {
    background: linear-gradient(135deg, #800000, #3b0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}