body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(90deg, #F5F5F5, #fffdf5);
    font-family: 'Inter', sans-serif;
    color: #2C2C2C;
}

/* CONTENT CONTAINER */
.content {
    padding: 40px;
    width: 90%;
    margin: 20px auto;
}

/* BADGE (TOP LABEL) */
.badge {
    display: inline-block;
    font-weight: 600;
    padding: 8px 18px;
    background: #eedfb6;
    border: 1px solid #eedfb6;
    color: #C4A032;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

/* HEADINGS */
.content h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.coloredText {
    background: linear-gradient(90deg, #7A1E2C, #C4A032);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
/*SUBTITLES*/
.content h2 {
    width: 55%;
    line-height: 1.5;
    text-align: justify;
    font-weight: 300;
    margin-top: 30px;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 18px 35px;
    margin-top: 30px;

    background: #800000;
    border-radius: 7px;
    color: white;

    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}